<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Routing</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">

            <div class="card-body">
				<div class="col-sm-12"><button class="btn btn-search btn-primary" style="width:200px" (click)="runSchedulerStatements()">Routing</button></div>
				<div class="col-sm-12 mt-2"><button style="width:200px" class="btn btn-search btn-primary" (click)="runBOM()">Bom</button></div>
				<div class="col-sm-12 mt-2"><button style="width:200px" class="btn btn-search btn-primary" (click)="runProductStatements()">Statement Product</button></div>			
            </div>

        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->